<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install pandas
#!pip install requests

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [92]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=6f9aae2cd120c9c81c25553b2c799a0b"  #Make sure to change ******* to your API key.
data = requests.get(url).json()
data

{'success': True,
 'timestamp': 1648361643,
 'base': 'EUR',
 'date': '2022-03-27',
 'rates': {'AED': 4.034381,
  'AFN': 96.767441,
  'ALL': 122.024163,
  'AMD': 538.300137,
  'ANG': 1.985542,
  'AOA': 500.433077,
  'ARS': 121.876882,
  'AUD': 1.461943,
  'AWG': 1.977593,
  'AZN': 1.871568,
  'BAM': 1.955576,
  'BBD': 2.224511,
  'BDT': 95.050164,
  'BGN': 1.955669,
  'BHD': 0.415346,
  'BIF': 2259.616737,
  'BMD': 1.098357,
  'BND': 1.493906,
  'BOB': 7.574317,
  'BRL': 5.2097,
  'BSD': 1.101757,
  'BTC': 2.4580836e-05,
  'BTN': 83.880214,
  'BWP': 12.619862,
  'BYN': 3.588234,
  'BYR': 21527.806023,
  'BZD': 2.220712,
  'CAD': 1.371574,
  'CDF': 2210.993945,
  'CHF': 1.020709,
  'CLF': 0.031511,
  'CLP': 869.471156,
  'CNY': 6.992478,
  'COP': 4172.158518,
  'CRC': 718.57674,
  'CUC': 1.098357,
  'CUP': 29.106472,
  'CVE': 110.250691,
  'CZK': 24.555323,
  'DJF': 196.134545,
  'DKK': 7.440329,
  'DOP': 60.418159,
  'DZD': 156.509687,
  'EGP': 20.381655,
  'ERN': 16.475367,
  'ETB': 56.572358,
  'EUR': 1,
  'FJD': 2.287824,
  'FKP': 0.842395,
  'GBP': 0.832688,
  'GEL': 3.526157,
  'GGP': 0.842395,
  'GHS': 8.070053,
  'GIP': 0.842395,
  'GMD': 59.42537,
  'GNF': 9855.920854,
  'GTQ': 8.471601,
  'GYD': 230.510083,
  'HKD': 8.599814,
  'HNL': 27.04449,
  'HRK': 7.576914,
  'HTG': 115.88196,
  'HUF': 372.73901,
  'IDR': 15769.557255,
  'ILS': 3.531132,
  'IMP': 0.842395,
  'INR': 83.788752,
  'IQD': 1607.951313,
  'IRR': 46460.52053,
  'ISK': 142.611155,
  'JEP': 0.842395,
  'JMD': 168.81509,
  'JOD': 0.778779,
  'JPY': 134.103996,
  'KES': 126.421492,
  'KGS': 104.608007,
  'KHR': 4458.62134,
  'KMF': 491.899806,
  'KPW': 988.52209,
  'KRW': 1345.982559,
  'KWD': 0.334066,
  'KYD': 0.918081,
  'KZT': 542.999527,
  'LAK': 12843.233147,
  'LBP': 1665.983781,
  'LKR': 319.489235,
  'LRD': 168.104027,
  'LSL': 15.98152,
  'LTL': 3.243164,
  'LVL': 0.664386,
  'LYD': 5.140933,
  'MAD': 10.670115,
  'MDL': 20.18888,
  'MGA': 4455.321768,
  'MKD': 61.607004,
  'MMK': 1959.009451,
  'MNT': 3161.921542,
  'MOP': 8.881947,
  'MRO': 392.113421,
  'MUR': 48.813665,
  'MVR': 16.918814,
  'MWK': 900.049188,
  'MXN': 22.004717,
  'MYR': 4.624638,
  'MZN': 70.108571,
  'NAD': 15.981515,
  'NGN': 456.642524,
  'NIO': 39.402886,
  'NOK': 9.448423,
  'NPR': 134.208582,
  'NZD': 1.575045,
  'OMR': 0.422855,
  'PAB': 1.101657,
  'PEN': 4.117666,
  'PGK': 3.881996,
  'PHP': 57.235818,
  'PKR': 200.759445,
  'PLN': 4.680538,
  'PYG': 7669.504617,
  'QAR': 3.999162,
  'RON': 4.948764,
  'RSD': 117.634733,
  'RUB': 112.032834,
  'RWF': 1119.644687,
  'SAR': 4.12025,
  'SBD': 8.825728,
  'SCR': 15.832865,
  'SDG': 490.966153,
  'SEK': 10.390034,
  'SGD': 1.491684,
  'SHP': 1.512882,
  'SLL': 13021.027944,
  'SOS': 642.53948,
  'SRD': 22.711877,
  'STD': 22733.781644,
  'SVC': 9.639749,
  'SYP': 2759.074286,
  'SZL': 16.051917,
  'THB': 36.908147,
  'TJS': 14.32774,
  'TMT': 3.855235,
  'TND': 3.243491,
  'TOP': 2.470247,
  'TRY': 16.294906,
  'TTD': 7.494027,
  'TWD': 31.50463,
  'TZS': 2555.968275,
  'UAH': 32.528078,
  'UGX': 3966.18525,
  'USD': 1.098357,
  'UYU': 46.640947,
  'UZS': 12680.214304,
  'VEF': 234862017777.79776,
  'VND': 25112.295562,
  'VUV': 125.340822,
  'WST': 2.879944,
  'XAF': 655.871878,
  'XAG': 0.043044,
  'XAU': 0.000561,
  'XCD': 2.968366,
  'XDR': 0.799396,
  'XOF': 655.871878,
  'XPF': 119.721327,
  'YER': 274.864352,
  'ZAR': 16.011179,
  'ZMK': 9886.539027,
  'ZMW': 19.638051,
  'ZWL': 353.670651}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [85]:
# Turn the data into a dataframe
df = pd.DataFrame(data)
df

     success   timestamp base        date        rates
AED     True  1648361643  EUR  2022-03-27     4.034381
AFN     True  1648361643  EUR  2022-03-27    96.767441
ALL     True  1648361643  EUR  2022-03-27   122.024163
AMD     True  1648361643  EUR  2022-03-27   538.300137
ANG     True  1648361643  EUR  2022-03-27     1.985542
..       ...         ...  ...         ...          ...
YER     True  1648361643  EUR  2022-03-27   274.864352
ZAR     True  1648361643  EUR  2022-03-27    16.011179
ZMK     True  1648361643  EUR  2022-03-27  9886.539027
ZMW     True  1648361643  EUR  2022-03-27    19.638051
ZWL     True  1648361643  EUR  2022-03-27   353.670651

[168 rows x 5 columns]

In [90]:
# Drop unnescessary columns
#df  = df.loc[:, ~df.columns.isin(['success', 'timestamp', 'base','dates'])]
# or
df.drop(['success','timestamp','base','date'], inplace=True, axis=1)
df

           rates
AED     4.034381
AFN    96.767441
ALL   122.024163
AMD   538.300137
ANG     1.985542
..           ...
YER   274.864352
ZAR    16.011179
ZMK  9886.539027
ZMW    19.638051
ZWL   353.670651

[168 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [91]:
# Save the Dataframe
df.to_csv('exchange_rates_1.csv')

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).