<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Webscraping

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Use webscraping to get bank information

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install pandas
!pip install bs4
#!pip install requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.10.0-py3-none-any.whl (97 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 97.4/97.4 KB 12.3 MB/s eta 0:00:00
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.1-py3-none-any.whl (37 kB)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1272 sha256=13a73c071d036d5ff30ae2ea56549620420ae5a096362b31f9c320d50ee4451f
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/0a/9e/ba/20e5bbc1afef3a491f0b3bb74d508f99403aabe76eda2167ca
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.10.0 bs4-0.0.1 soupsieve-2.3.1

## Imports

Import any additional libraries you may need here.

In [59]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## Extract Data Using Web Scraping

The wikipedia webpage [https://en.wikipedia.org/wiki/List_of_largest_banks](https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

### Webpage Contents

Gather the contents of the webpage in text format using the `requests` library and assign it to the variable <code>html_data</code>

In [111]:
#Write your code here
url='https://en.wikipedia.org/wiki/List_of_largest_banks'
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text
html_data  = requests.get(url).text

<b>Question 1</b> Print out the output of the following line, and remember it as it will be a quiz question:

In [112]:
data[101:124]

'List of largest banks -'

### Scraping the Data

<b> Question 2</b> Using the contents and `beautiful soup` load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

Using BeautifulSoup parse the contents of the webpage.

In [113]:
soup = BeautifulSoup(html_data, "html.parser")

<td>1
</td>, <td><span class="flagicon"><a href="/wiki/United_States" title="United States"><img alt="United States" class="thumbborder" data-file-height="650" data-file-width="1235" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/23px-Flag_of_the_United_States.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/35px-Flag_of_the_United_States.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/46px-Flag_of_the_United_States.svg.png 2x" width="23"/></a></span> <a href="/wiki/JPMorgan_Chase" title="JPMorgan Chase">JPMorgan Chase</a>
</td>, <td>368.78
</td>

Load the data from the `By market capitalization` table into a pandas dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names. Using the empty dataframe `data` and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [114]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])

for row in soup.find_all('tbody')[3].find_all('tr'):
    col = row.find_all('td')
    #print(col)
    if (col != []):
        Name = col[1].text.strip()
        Market = col[2].text.strip()
        #rint(Market)
        data = data.append({"Name":Name,"Market Cap (US$ Billion)":Market}, ignore_index=True)
data

                                       Name Market Cap (US$ Billion)
0                            JPMorgan Chase                   368.78
1   Industrial and Commercial Bank of China                   295.65
2                           Bank of America                   279.73
3                               Wells Fargo                   214.34
4                   China Construction Bank                   207.98
5                Agricultural Bank of China                   181.49
6                         HSBC Holdings PLC                   169.47
7                            Citigroup Inc.                   163.58
8                             Bank of China                   151.15
9                      China Merchants Bank                   133.37
10                     Royal Bank of Canada                   113.80
11                    Toronto-Dominion Bank                   106.61
12                        Commonwealth Bank                    99.77
13                                HDFC Bank                    105.9
14                             U.S. Bancorp                    84.40
15                            Goldman Sachs                    78.70
16                          Banco Santander                    75.47
17                           Banco Bradesco                    74.67
18                           Morgan Stanley                    73.93
19                                  Westpac                    67.84
20           Mitsubishi UFJ Financial Group                    66.20
21                               Scotiabank                    65.48
22                   PNC Financial Services                    63.11
23                   Bank of Communications                    61.85
24                              BNP Paribas                    59.36
25  Australia and New Zealand Banking Group                    54.88
26                  National Australia Bank                    51.68
27                     Lloyds Banking Group                    51.19
28          Sumitomo Mitsui Financial Group                    49.85
29                         Bank of Montreal                    48.12
30                                      UBS                    45.92
31                                ING Group                    44.97
32                              Capital One                    43.22
33              The Bank of New York Mellon                    42.58
34                      China Minsheng Bank                    39.13
35                         China CITIC Bank                    38.55
36          Banco Bilbao Vizcaya Argentaria                    37.42
37                   Mizuho Financial Group                    36.95
38                          Intesa Sanpaolo                    36.90
39                          Crédit Agricole                    34.89
40       Canadian Imperial Bank of Commerce                    34.87
41                   Royal Bank of Scotland                    33.95
42                                 Barclays                    33.26
43                            Credit Suisse                    30.75
44                                   Nordea                    29.59
45                       Standard Chartered                    29.37
46                                 KBC Bank                    27.40
47                                UniCredit                    26.88
48                         Société Générale                    21.27
49                            Deutsche Bank                    15.77

**Question 3** Display the first five rows using the `head` function.

In [115]:
#Write your code here
data.head()

                                      Name Market Cap (US$ Billion)
0                           JPMorgan Chase                   368.78
1  Industrial and Commercial Bank of China                   295.65
2                          Bank of America                   279.73
3                              Wells Fargo                   214.34
4                  China Construction Bank                   207.98

### Loading the Data

Usually you will Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function, but this time the data will be sent to another team who will split the data file into two files and inspect it. If you save the data it will interfere with the next part of the assignment.

In [109]:
#Write your code here
data.to_json('bank_market_cap.json')

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation.